extends ../layout

block content
  h1.content-subhead About
  section.about
    .pure-u-1.pure-u-sm-2-3
      .description
        p I'm César Andreu, born in Puerto Rico; fluent in English and Spanish.
        p I enjoy programming and I'm most passionate about web development; I enjoy creating cool things.
        p Currently working in Mountain View, CA at a tech startup called <a href="http://www.treasuredata.com">Treasure Data</a> as a software engineer.
        p Living in San José, CA. This place is a desert.
        p Feel free to reach out to me over at <a href="https://github.com/cesarandreu">Github</a> or <a href="https://twitter.com/cesarandreu">Twitter</a>.
    .pure-u-1.pure-u-sm-1-3
      img.avatar(src='/img/cesar.jpg', alt='Cesar Andreu')
